<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.DispatchMapper" >
  <resultMap id="BaseResultMap" type="Dispatch" >
    <id column="dispatch_id" property="dispatchId" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="dispatch_u_id" property="dispatchUId" jdbcType="INTEGER" />
    <result column="dispatch_create_time" property="dispatchCreateTime" jdbcType="INTEGER" />
    <result column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="dispatch_p_id" property="dispatchPId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    dispatch_id, u_id, dispatch_u_id, dispatch_create_time, p_id, dispatch_p_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dispatch
    where dispatch_id = #{dispatchId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dispatch
    where dispatch_id = #{dispatchId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Dispatch" >
    insert into dispatch (dispatch_id, u_id, dispatch_u_id, 
      dispatch_create_time, p_id, dispatch_p_id
      )
    values (#{dispatchId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{dispatchUId,jdbcType=INTEGER}, 
      #{dispatchCreateTime,jdbcType=INTEGER}, #{pId,jdbcType=INTEGER}, #{dispatchPId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="Dispatch" >
    insert into dispatch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dispatchId != null" >
        dispatch_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="dispatchUId != null" >
        dispatch_u_id,
      </if>
      <if test="dispatchCreateTime != null" >
        dispatch_create_time,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="dispatchPId != null" >
        dispatch_p_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dispatchId != null" >
        #{dispatchId,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="dispatchUId != null" >
        #{dispatchUId,jdbcType=INTEGER},
      </if>
      <if test="dispatchCreateTime != null" >
        #{dispatchCreateTime,jdbcType=INTEGER},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="dispatchPId != null" >
        #{dispatchPId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Dispatch" >
    update dispatch
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="dispatchUId != null" >
        dispatch_u_id = #{dispatchUId,jdbcType=INTEGER},
      </if>
      <if test="dispatchCreateTime != null" >
        dispatch_create_time = #{dispatchCreateTime,jdbcType=INTEGER},
      </if>
      <if test="pId != null" >
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="dispatchPId != null" >
        dispatch_p_id = #{dispatchPId,jdbcType=INTEGER},
      </if>
    </set>
    where dispatch_id = #{dispatchId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Dispatch" >
    update dispatch
    set u_id = #{uId,jdbcType=INTEGER},
      dispatch_u_id = #{dispatchUId,jdbcType=INTEGER},
      dispatch_create_time = #{dispatchCreateTime,jdbcType=INTEGER},
      p_id = #{pId,jdbcType=INTEGER},
      dispatch_p_id = #{dispatchPId,jdbcType=INTEGER}
    where dispatch_id = #{dispatchId,jdbcType=INTEGER}
  </update>
</mapper>