<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ScheduleemployeesMapper">
	<resultMap id="BaseResultMap" type="Scheduleemployees">
		<id column="s_id" property="sId" jdbcType="INTEGER" />
		<result column="s_content" property="sContent" jdbcType="VARCHAR" />
		<result column="s_start_time" property="sStartTime" jdbcType="TIMESTAMP" />
		<result column="s_end_time" property="sEndTime" jdbcType="TIMESTAMP" />
		<result column="s_update_time" property="sUpdateTime" jdbcType="TIMESTAMP" />
		<result column="s_create_time" property="sCreateTime" jdbcType="TIMESTAMP" />
		<result column="u_id" property="uId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		s_id, s_content, s_start_time, s_end_time, s_update_time, s_create_time,
		u_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from scheduleemployees
		where s_id = #{sId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from scheduleemployees
		where s_id = #{sId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="Scheduleemployees">
		insert into scheduleemployees (s_id, s_content, s_start_time,
		s_end_time, s_update_time, s_create_time,
		u_id)
		values (#{sId,jdbcType=INTEGER}, #{sContent,jdbcType=VARCHAR},
		#{sStartTime,jdbcType=TIMESTAMP},
		#{sEndTime,jdbcType=TIMESTAMP}, #{sUpdateTime,jdbcType=TIMESTAMP}, #{sCreateTime,jdbcType=TIMESTAMP},
		#{uId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="Scheduleemployees">
		insert into scheduleemployees
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sId != null">
				s_id,
			</if>
			<if test="sContent != null">
				s_content,
			</if>
			<if test="sStartTime != null">
				s_start_time,
			</if>
			<if test="sEndTime != null">
				s_end_time,
			</if>
			<if test="sUpdateTime != null">
				s_update_time,
			</if>
			<if test="sCreateTime != null">
				s_create_time,
			</if>
			<if test="uId != null">
				u_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sId != null">
				#{sId,jdbcType=INTEGER},
			</if>
			<if test="sContent != null">
				#{sContent,jdbcType=VARCHAR},
			</if>
			<if test="sStartTime != null">
				#{sStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sEndTime != null">
				#{sEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sUpdateTime != null">
				#{sUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sCreateTime != null">
				#{sCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="uId != null">
				#{uId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="Scheduleemployees">
		update scheduleemployees
		<set>
			<if test="sContent != null">
				s_content = #{sContent,jdbcType=VARCHAR},
			</if>
			<if test="sStartTime != null">
				s_start_time = #{sStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sEndTime != null">
				s_end_time = #{sEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sUpdateTime != null">
				s_update_time = #{sUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sCreateTime != null">
				s_create_time = #{sCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="uId != null">
				u_id = #{uId,jdbcType=INTEGER},
			</if>
		</set>
		where s_id = #{sId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="Scheduleemployees">
		update scheduleemployees
		set s_content = #{sContent,jdbcType=VARCHAR},
		s_start_time = #{sStartTime,jdbcType=TIMESTAMP},
		s_end_time = #{sEndTime,jdbcType=TIMESTAMP},
		s_update_time = #{sUpdateTime,jdbcType=TIMESTAMP},
		s_create_time = #{sCreateTime,jdbcType=TIMESTAMP},
		u_id = #{uId,jdbcType=INTEGER}
		where s_id = #{sId,jdbcType=INTEGER}
	</update>
</mapper>